# Dependencias
node_modules/

# Builds locales
dist/
dist-ssr/

# Git
.git/
.gitignore

# Variables de entorno
.env
.env.*
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/