.site-header {
  width: 100%;
  background-color: white;
  user-select: none;
}

.header-inner {
  width: var(--page-width);
  margin: 0 auto;
}

.top-bar {
  height: 42px;

  display: flex;
  align-items: center;

  background-color: #005984;
  color: white;
}

.top-logo {
  display: inline-flex;
  width: fit-content;

  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;

  cursor: pointer;
}

.top-logo:hover {
  text-decoration: underline solid #f7ae00 3px;
  text-underline-offset: 6px;
}

.main-header {
  height: 100px;

  display: flex;
  align-items: center;

  background-color: white;
}

.main-header-inner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.brand-logo-crop {
  width: 350px;
  height: 96px;
  overflow: hidden;

  display: flex;
  align-items: center;
}

.brand-logo-crop img {
  width: 455px;
  height: auto;
  display: block;

  transform: translateX(-110px);
}

.header-divider {
  width: 1px;
  height: 47px;
  background-color: #d6d6d6;
  transform: translate(-112px, 3px);
}

.header-section-title {
  display: flex;
  align-items: center;
  transform: translate(-120px, 3px);
}

.header-section-title h1 {
  margin: 0 0 0 12px;

  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 0.98rem;
  font-weight: 200;

  color: #9a999e;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

@media (max-width: 560px) {
  .brand-logo-crop {
  width: 350px;
  height: 96px;
  overflow: hidden;

  display: flex;
  align-items: center;
}

.brand-logo-crop img {
  width: 455px;
  height: auto;
  display: block;

  transform: translateX(-112px);
}

.header-section-title {
  display: flex;
  align-items: center;
  transform: translate(-140px, 3px);
}
}
