.banner-eventos {
  position: relative;
  width: 100%;
  height: 390px;
  overflow: hidden;
}

.banner-eventos-img {
  width: 101%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  display: block;

  z-index: 0;
}

/* Capa oscura encima de la imagen */
.banner-eventos::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.1) 30%,
    rgba(0, 0, 0, 0.3) 65%,
    rgba(0, 0, 0, 0.95) 100%
  );

  z-index: 1;
}

.banner-content {
  position: absolute;
  left: 18%;
  bottom: 60px;
  z-index: 2;
  color: white;
}

.banner-tools {
  position: absolute;
  inset: 0;
  z-index: 4;

  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;

  padding: 0 8%;
  gap: 40px;
}

.mini-calendar {
  position: absolute;
  right: 8%;
  bottom: 60px;
  z-index: 3;
}

.banner-search {
  width: 100%;
  max-width: 760px;

  justify-self: center;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.search-box {
  width: 100%;
  height: 56px;

  display: flex;
  align-items: center;

  background-color: white;
  border-radius: 12px;
  overflow: hidden;

  box-shadow: 0 14px 32px rgba(0, 0, 0, 0.22);
}

.search-box input {
  flex: 1;
  height: 100%;

  border: none;
  outline: none;

  padding: 0 20px;

  font-size: 1rem;
  font-weight: 500;
  color: #222;
}

.search-box input::placeholder {
  color: #8f8f8f;
}

.search-box button {
  height: 100%;
  padding: 0 28px;

  border: none;
  background-color: #f7ae00;
  color: white;

  font-weight: 800;
  font-size: 0.95rem;

  cursor: pointer;

  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.search-box button:hover {
  background-color: #002855;
}

.eventos-main {
  background-color: #f7f7f7;
  min-height: 400px;
  padding: 56px 24px;
}

.filtros-eventos {
  grid-column: 2;

  display: flex;
  flex-direction: column;
  gap: 14px;

  justify-self: center;
  align-self: center;

  margin: 0;
  padding: 0;
}

.mini-calendar {
  grid-column: 3;

  position: static;

  justify-self: center;
  align-self: center;
}

.eventos-grid {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 360px));
  justify-content: center;
  gap: 32px;
}
@media (max-width: 1000px) {
  .banner-eventos {
    height: 620px;
  }

  .banner-tools {
    grid-template-columns: 1fr;
    padding: 48px 24px;
    gap: 28px;
  }

  .banner-search {
    max-width: 620px;
  }

  .search-label {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .banner-eventos {
    height: 680px;
  }

  .search-box {
    height: auto;
    flex-direction: column;
  }

  .search-box input {
    height: 52px;
    width: 100%;
  }

  .search-box button {
    width: 100%;
    height: 48px;
  }
}
